*{
    /* background-color: antiquewhite; */
}
.a1 {
    margin-top: 1.5cm;
    margin-left: 1.8cm;
    padding-top: 50px;
    border: 2px ;
    border-radius: 25px;
    width: 1100px;
    height: 70vh;
    margin-bottom: 1.9cm;
    background-color: cyan; 
    padding-left: 1cm;

   }

.am{
    padding-bottom: 1cm;
}
.i1 {
    margin-top: 1.5cm;
    margin-left: 1.8cm;
    padding-top: 50px;
    border: 2px ;
    border-radius: 25px;
    width: 1100px;
    height: 70vh;
    margin-bottom: 1.9cm;
    background-color: cyan; 
    padding-left: 1cm;

   }
